#branches:
#  only:
#  - main
#  - /^version.*$/

git:
  depth: false

language: perl

dist: focal

services:
  - mysql
  - postgresql

perl:
  - '5.26'
  - '5.32'

env:
  global:
    - ENSDIR=$TRAVIS_BUILD_DIR/..
    - PERL5LIB=$TRAVIS_BUILD_DIR/../bioperl-live
    - CACHED_DEPS_DIR=$HOME/deps
    - CODECOV_TOKEN=${{secret.CODECOV_TOKEN}}
    - COVERALLS_REPO_TOKEN=${{secret.COVERALLS_REPO_TOKEN}}
  matrix:
    - EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/' COVERAGE=true
    - EHIVE_TEST_PIPELINE_URLS='pgsql://postgres@127.0.0.1/' COVERAGE=false
    - EHIVE_TEST_PIPELINE_URLS='sqlite:///' COVERAGE=false
    - EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/' COVERAGE=false

addons:
  apt:
    packages:
      - graphviz
      - libmysqlclient-dev
      - libdb-dev
      - libexpat1-dev
      - libpq-dev

# Dependencies that are brought by a system smart enough to reuse existing
# files (e.g. CPAN) are cached between builds under $HOME/deps.
# Other dependencies are under $PWD/deps and *not* cached.
cache:
  directories:
    - $CACHED_DEPS_DIR

before_install:
    - cd $ENSDIR
    - git clone -b release-1-6-924 --depth 1 https://github.com/bioperl/bioperl-live.git
    - git clone --branch main --depth 1 https://github.com/Ensembl/ensembl
    - cpanm -nq local::lib
    - perl -Mlocal::lib=$CACHED_DEPS_DIR

install:
    - cpanm -n --installdeps --cpanfile ensembl/cpanfile .
    - cd $TRAVIS_BUILD_DIR
    - cpanm -n --installdeps --with-recommends .
    - mysql -u root -h localhost -e 'GRANT ALL PRIVILEGES ON *.* TO "travis"@"%"'
    - mysql -u root -h localhost -e 'SET GLOBAL local_infile=1'

script: "./travisci/harness.sh"

jobs:
  exclude:
    - perl: "5.32"
      env: EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/' COVERAGE=true
    - perl: "5.32"
      env: EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/' COVERAGE=false
    - perl: "5.26"
      env: EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/' COVERAGE=true
    - perl: "5.26"
      env: EHIVE_TEST_PIPELINE_URLS='sqlite:///' COVERAGE=false
    - perl: "5.26"
      env: EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/' COVERAGE=false

notifications:
  email:
    on_failure: change
  slack:
    rooms:
      # coregithub
      - secure: gL6s4PRts/S293qOTVDFub8i7DWxqXVpDz5il8Vx7LxSYgOiA9AJcbT1zuXxhfONA5RwXJ62gRze0LllDcAS9TiUl199SSq7x+hBMBKzGxWV5I0P6m5aPMRi2vdC4yiATMQYF97PaH3zWobEDiGEHRAS+mkGNBExXY1hwZSasy8=
      # ehive-commits
      - secure: XUShBwss607RlWDQyn4tkVDX390+aIXv1ntaUzr9MtsXMpCNm5X/7PPle7Cq6FZ57vHzkIOM0+FM3kIou7vbc3ediwHEv9/o8PwDah7xH46/ukjCsI+labR6jxoX8YX9SRvUUm4FV9Vo2gkWi0IYM+k+VI6AyDFyhEzyJOIGHEY=
    on_failure: change
