dist: trusty

language: "perl"

perl:
  - "5.14"      # The other Ensembl components must be compatible with 5.14
  - "5.30"      # Maintained -- Latest

git:
  depth: false

services:
  - mysql
  - postgresql

env:
  - EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/'
  - EHIVE_TEST_PIPELINE_URLS='pgsql://postgres@127.0.0.1/'
  - EHIVE_TEST_PIPELINE_URLS='sqlite:///'

sudo: false

addons:
  apt:
    packages:
    - python3
    - maven
    - graphviz

# Dependencies that are brought by a system smart enough to reuse existing
# files (e.g. CPAN and maven) are cached between builds under $HOME/deps.
# Other dependencies are under $PWD/deps and *not* cached.
cache:

  directories:
    - $HOME/deps

before_install:
    - cpanm -nq local::lib
    - eval "$(perl -Mlocal::lib=${HOME}/deps)"
    - mkdir deps
    - cd deps
    - git clone --branch main --depth 1 https://github.com/Ensembl/ensembl
    - export PERL5LIB=$PWD/ensembl/modules:$PERL5LIB
    - git clone --branch v1.6.x --depth 1 https://github.com/bioperl/bioperl-live
    - export PERL5LIB=$PWD/bioperl-live:$PERL5LIB
    - mysql -u root -h localhost -e 'GRANT ALL PRIVILEGES ON *.* TO "travis"@"%"'
    - mysql -hlocalhost -utravis -e "SET GLOBAL sql_mode = 'TRADITIONAL'"
    - wget https://download.java.net/java/GA/jdk12.0.1/69cfe15208a647278a19ef0990eea691/12/GPL/openjdk-12.0.1_linux-x64_bin.tar.gz
    - tar xvzf openjdk-12.0.1_linux-x64_bin.tar.gz
    - export JAVA_HOME=$PWD/jdk-12.0.1
    - export PATH=$JAVA_HOME/bin:$PATH
    - cd ..
    - ls $JAVA_HOME
    - java -version
    - javac -version
    - mvn -version
    - mysql --version
    - sqlite3 --version
    - env
    - cd wrappers/java
    - mvn -Dmaven.repo.local=$HOME/deps/maven clean
    - mvn -Dmaven.repo.local=$HOME/deps/maven -Dmaven.test.skip=true package
    - cd ../..
    - export PERL5LIB=$PWD/modules:$PERL5LIB

install:
    - cpanm -v --installdeps --with-recommends --notest .
    - cpanm -v --installdeps --notest --cpanfile deps/ensembl/cpanfile .
    - cpanm -n Devel::Cover::Report::Coveralls
    - cpanm -n Devel::Cover::Report::Codecov
    - ls $HOME/deps
    - ls $PWD/deps

script: "./scripts/dev/travis_run_tests.sh"

notifications:
  email:
    on_success: always
    on_failure: always
  slack:
    rooms:
      # coregithub
      - secure: gL6s4PRts/S293qOTVDFub8i7DWxqXVpDz5il8Vx7LxSYgOiA9AJcbT1zuXxhfONA5RwXJ62gRze0LllDcAS9TiUl199SSq7x+hBMBKzGxWV5I0P6m5aPMRi2vdC4yiATMQYF97PaH3zWobEDiGEHRAS+mkGNBExXY1hwZSasy8=
      # ehive-commits
      - secure: XUShBwss607RlWDQyn4tkVDX390+aIXv1ntaUzr9MtsXMpCNm5X/7PPle7Cq6FZ57vHzkIOM0+FM3kIou7vbc3ediwHEv9/o8PwDah7xH46/ukjCsI+labR6jxoX8YX9SRvUUm4FV9Vo2gkWi0IYM+k+VI6AyDFyhEzyJOIGHEY=
    on_failure: change
