language: "perl"

perl:
  - "5.10"      # The Ensembl API must be compatible with 5.10
  - "5.14"      # The other Ensembl components must be compatible with 5.14
  #- "5.16"      # EOL but default in RHEL7
  #- "5.18"      # EOL but default in Ubuntu 14.04 LTS
  #- "5.22"      # EOL but default in Ubuntu 16.04 LTS
  #- "5.24"      # Maintained
  - "5.26"      # Maintained -- Latest

git:
  depth: 500

env:
  - EHIVE_TEST_PIPELINE_URLS='mysql://travis@127.0.0.1/'
  - EHIVE_TEST_PIPELINE_URLS='pgsql://postgres@127.0.0.1/'
  - EHIVE_TEST_PIPELINE_URLS='sqlite:///'

sudo: false

addons:
  apt:
    packages:
    - python3
    - oracle-java8-installer
    - ant
    - graphviz

before_install:
    - git clone --branch v1.6.x --depth 1 https://github.com/bioperl/bioperl-live
    - mysql -hlocalhost -utravis -e "SET GLOBAL sql_mode = 'TRADITIONAL'"
    - psql --version
    - echo -e '#!/bin/bash\n\nperl '`which psql`' "$@"' > psql
    - chmod +x psql
    - export PATH=$PWD:$PATH
    - mkdir deps
    - ln -s /usr/share/perl5/PgCommon.pm deps/
    - export PATH=/usr/lib/jvm/java-8-oracle/jre/bin/:$PATH
    - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
    - java -version
    - ant -version
    - mysql --version
    - sqlite3 --version
    - env
    - cd wrappers/java
    - ant clean jar
    - cd ../..


install:
    - cpanm -v --installdeps --notest .
    - cpanm -n Devel::Cover::Report::Coveralls
    - cpanm -n Devel::Cover::Report::Codecov

script: "./scripts/travis_run_tests.sh"

notifications:
  email:
    on_success: always
    on_failure: always
  slack:
    secure: "fbxQ+yuUAKKI10MUmNeCUbLqmVoOHUhGdM2KetqT5DmSn2rHxb099040Ira2tBYmUEPb5QvIMfPZ1xgS27he4xsZIpvOLsd1Or9OOL8XqyeTLcZ/IG4rpky0ehltVXs3s4ClM+YXwCHIoR2FwVghLVn6znmRkYm3TreSDtEUC2o="

